.headerContainer {
  width: 100%;
  height: 80px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
  box-sizing: border-box;
}

.name {
  align-self: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.clearLink {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: inherit;
}

.headerButton {
  width: 100%;
  max-width: fit-content;
  padding: 10px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerButton:hover {
  cursor: pointer;
  opacity: 0.9;
}
