.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 200px;
  justify-content: space-between;
}

.aboutMovieTitle {
  font-size: 22px;
}

.descriptionMovie {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
